<body>
    <!-- Navbar -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark py-3">
        <div class="container-md">   
            <b-navbar-toggle target="nav-collapse" class="mr-auto ml-2"></b-navbar-toggle>
            <b-navbar-brand class="mr-auto mt-1" href="/"><img src="../../assets/logo quizippy putih.png" alt="This is the quizippy logo" width="120"></b-navbar-brand>
            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav>
                    <a class="nav-item nav-link navlink2" href="/">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link navlink2 active" href="/about">About Us</a> 
                </b-navbar-nav>
                <b-navbar-nav class="ml-md-auto">
                    <a href="/signin" class="nav-item btn btn-outline-primary main-button rounded-pill mx-2" role="button">Sign In</a>
                    <a href="/signup" class="nav-item btn btn-primary main-button rounded-pill mx-3" role="button">Sign Up</a>
                </b-navbar-nav>
            </b-collapse>
            <b-navbar-nav class="ml-md-auto">
                <a class="nav-link ml-4 mr-2" href="/search"><i class="fas fa-search"></i></a>
            </b-navbar-nav>
        </div>
    </nav>  
    <!-- Akhir Navbar -->

    <!-- About -->
    <section class="about">
        <div class="container">
            <div class="col-lg-12">
                <div id="div-id2"></div>
            </div>
            <div class="row text-center abouttitle">
                <div class="col-lg-12">
                    <h1>About Us</h1>
                    <div class="garisbawah"></div>
                </div>
            </div>
            <div class="row aboutisi">
                <div class="col-lg-7 align-self-center">
                    <h4 class="pb-2">Who We Are ?</h4>
                    <p>We are web developers who want to create innovative products in the field of education. 
                        With <strong>QUIZIPPY</strong> we hope to have a good impact on education. 
                        We apply the latest tenology as well as mature and innovative product planning. 
                        That way <strong>QUIZIPPY</strong> can be a fun learning platform.</p>
                </div>
                <div class="col-lg-5">
                    <img src="../../assets/about.png" alt="This is a picture about" width="100%">
                </div>
            </div>
        </div>
    </section>
    <!-- Akhir About -->

    <!-- Our Team -->
    <section class="ourteam">
        <div class="container">
            <div class="row text-center ourteamtittle">
                <div class="col-lg-12">
                    <h1>Our Team</h1>
                    <div class="garisbawah"></div>
                    <p>We are students formed into a team in a web programming course with 3 members</p>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-3 galih">
                <div class="col mb-4" data-aos="fade-up" data-aos-duration="500" data-aos-easing="ease-in">
                    <div class="card shadow">
                        <div class="img-box">
                            <img src="../../assets/galih.png" class="card-img-top rounded-circle" alt="This is a photo of Galih">
                        </div>
                        <div class="card-body text-center">
                            <h5 class="name">Galih Rizal Muhammad</h5>
                            <p class="title">Front End Developer</p>
                            <p class="overview-galih">My name is Galih Rizal Muhammad,
                                I am a student. The skills that I master
                                in the field of programmers, especially in 
                                the field of web and android with a focus 
                                on front end and UIUX of designers. 
                                My life motto is "Make each of your 
                                activities a reward field for you in 
                                seeking the pleasure of Allah SWT".</p>
                            <div class="row align-items-center icon">                              
                                <div class="col-4">                      
                                    <a href="https://www.instagram.com/galihrizal06/" target="_blank" class="instagram">
                                        <img src="../../assets/instagram.png" alt="This is instagram logo" width="40%">
                                    </a>
                                </div>
                                <div class="col-4">
                                    <a href="https://www.behance.net/galihrizal" target="_blank" class="behance">
                                        <img src="../../assets/behance.png" alt="This is behance logo" width="40%">
                                    </a>
                                </div>
                                <div class="col-4">
                                    <a href="https://www.youtube.com/channel/UCcMgrT9Ce8302ApllUvabTA?view_as=subscriber" target="_blank" class="youtube">
                                        <img src="../../assets/youtube.png" alt="This is youtube logo" width="40%">
                                    </a>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="col mb-4" data-aos="fade-up" data-aos-duration="600" data-aos-easing="ease-in" data-aos-delay="100">
                    <div class="card shadow">
                        <div class="img-box">
                            <img src="../../assets/adnan.png" class="card-img-top rounded-circle" alt="This is a photo of Adnan">
                        </div>
                        <div class="card-body text-center">
                            <h5 class="name">Adnan Nur Kurniawan</h5>
                            <p class="title">Mobile Developer</p>
                            <p class="overview-adnan">I like making app. When there is an idea of a new app I will design it 
                                and put it in the queue. Hopefully what I do can be useful for others 
                                and it can be a good heritage someday.</p>
                            <div class="row align-items-center icon">                              
                                <div class="col-4">                      
                                    <a href="https://www.instagram.com/adnan_kurniawan/" target="_blank" class="instagram">
                                        <img src="../../assets/instagram.png" alt="This is instagram logo" width="40%">
                                    </a>
                                </div>
                                <div class="col-4">
                                    <a href="https://web.facebook.com/adnann.kurniawan" target="_blank" class="facebook">
                                        <img src="../../assets/facebook.png" alt="This is facebook logo" width="40%">
                                    </a>
                                </div>
                                <div class="col-4">
                                    <a href="https://twitter.com/anksites" target="_blank" class="twitter">
                                        <img src="../../assets/twitter.png" alt="This is twitter logo" width="40%">
                                    </a>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="col mb-4" data-aos="fade-up" data-aos-duration="700" data-aos-easing="ease-in" data-aos-delay="200">
                    <div class="card shadow">
                        <div class="img-box">
                            <img src="../../assets/hadi.png" class="card-img-top rounded-circle" alt="This is a photo of Hadi">
                        </div>
                            <div class="card-body text-center">
                                <h5 class="name">Iqbal Hadi Purnomo</h5>
                                <p class="title">Back End Developer</p>
                                <p class="overview-hadi">Hi, I am Iqbal Hadi Purnomo.
                                    I am a web developer, I'm interested in the world of programming especially network programming and backend. 
                                    I am a person who likes to learn new things. My hobbies are traveling and biking my favorite places are rural 
                                    and green areas in the mountains.</p>
                                <div class="row align-items-center icon">                              
                                    <div class="col-4">                      
                                        <a href="https://www.instagram.com/hadi.oz_" target="_blank" class="instagram">
                                            <img src="../../assets/instagram.png" alt="This is instagram logo" width="40%">
                                        </a>
                                    </div>
                                    <div class="col-4">
                                        <a href="https://id.linkedin.com/in/hadi-purnomo-108a6b1a0" target="_blank" class="linkedin">
                                            <img src="../../assets/linkedin.png" alt="This is linkedin logo" width="40%">
                                        </a>
                                    </div>
                                    <div class="col-4">
                                        <a href="https://medium.com/@hadioz616" target="_blank" class="medium">
                                            <img src="../../assets/medium.png" alt="This is medium logo" width="40%">
                                        </a>
                                    </div>
                                </div> 
                            </div>       
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Akhir Our Team -->

    <!-- Contact Us -->
    <section class="contact">
        <div class="container">
            <div class="row text-center contacttitle">
                <div class="col-lg-12">
                    <h1>Contact Us</h1>
                    <div class="garisbawah"></div>
                    <p>Get in touch and let us know how we can help</p>
                </div>
            </div>
            <b-form @submit.prevent="submit" data-aos="fade-up" data-aos-duration="600" data-aos-easing="ease-in" data-aos-delay="100">
            <div class="row mb-3">
                <div class="col-md-6 kol1">
                    <label for="name">Name</label>
                    <input
                        type="text"
                        id="name"
                        name="name"                            
                        class="form-control"
                        v-model="form.name"
                        v-validate="{ required: true}"
                        placeholder="Enter your name..."
                    />
                </div>
                <div class="col-md-6">
                    <label for="emailAddress">Email</label>
                    <input
                        type="email"
                        id="email"
                        name="emailAddress"                            
                        class="form-control"
                        v-model="form.email"
                        v-validate="{ required: true}"
                        placeholder="Enter your email..."
                    />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label for="messageArea">Message</label>
                    <b-form-textarea
                        type="text"
                        id="message"
                        name="messageArea"                            
                        class="form-control"
                        v-model="form.messageArea"
                        v-validate="{ required: true}"
                        rows="6"
                        max-rows="8"
                        placeholder="Enter your message..."
                    ></b-form-textarea>
                </div>
            </div>
            <b-button type="submit" variant="primary" class="rounded-pill mb-3 shadow">Send Message</b-button>
            </b-form>             
        </div>
    </section>
    <!-- Akhir Contact Us -->
    <!-- Footer -->
    <section class="footer">
        <footer class="page-footer py-4">
                <div class="container">
                    <a href="#div-id2" v-smooth-scroll="{ duration: 1500, offset: -200}"><img src="../../assets/scrollup.png" class="img-scrollUp" alt="This is image scroll up"></a>
                    <div class="row">
                        <div class="col-md-6 logof">
                            <img src="../../assets/logo quizippy putih.png" alt="This is the quizippy logo" width="130px">
                            <p>© Copyright <span>QUIZIPPY</span> All Rights Reserved</p>
                            <div class="d-flex">
                                <p class="created">Created by Team</p>
                                <a class="privacy" href="https://policies.google.com/privacy?hl=en-US" target="_blank">Privacy</a>
                                <a class="terms" href="https://policies.google.com/terms?hl=en-US" target="_blank">Terms</a>
                            </div>        
                        </div> 
                        <div class="col-md-6 iconn">
                            <h5>Follow Us</h5>
                            <div class="icon text-center">
                                <a href="https://twitter.com/explore" target="_blank"><img src="../../assets/twitter.png" alt="This is the twitter logo" width="35px"></a> 
                                <a href="https://web.facebook.com/?_rdc=1&_rdr" target="_blank"><img src="../../assets/facebook.png" alt="This is the facebook logo" width="35px"></a> 
                                <a href="https://www.instagram.com/" target="_blank"><img src="../../assets/instagram.png" alt="This is the instagram logo" width="35px"></a> 
                            </div>
                        </div>
                    </div>
                </div>
        </footer>
    </section>
    <!-- Akhir Footer -->
</body>